{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>MiddleName</th>
                <th>EducationalLevel</th>
                <th>Course</th>
                <th>YearSection</th>
                <th>ContactNo</th>
                <th>EmailAddress</th>
                <th>Verified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.LastName }}</td>
                <td>{{ student.FirstName }}</td>
                <td>{{ student.MiddleName }}</td>
                <td>{{ student.EducationalLevel }}</td>
                <td>{{ student.Course }}</td>
                <td>{{ student.YearSection }}</td>
                <td>{{ student.ContactNo }}</td>
                <td>{{ student.EmailAddress }}</td>
                <td>{{ student.verified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_new') }}">Create new</a>
{% endblock %}
