{% extends 'base.html.twig' %}

{% block title %}Faculty index{% endblock %}

{% block body %}
    <h1>Faculty index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>MiddleName</th>
                <th>ContactNo</th>
                <th>EmailAddress</th>
                <th>Verified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for faculty in faculties %}
            <tr>
                <td>{{ faculty.id }}</td>
                <td>{{ faculty.LastName }}</td>
                <td>{{ faculty.FirstName }}</td>
                <td>{{ faculty.MiddleName }}</td>
                <td>{{ faculty.ContactNo }}</td>
                <td>{{ faculty.EmailAddress }}</td>
                <td>{{ faculty.verified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('faculty_show', {'id': faculty.id}) }}">show</a>
                    <a href="{{ path('faculty_edit', {'id': faculty.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('faculty_new') }}">Create new</a>
{% endblock %}
